.footer-conatiner{
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
    margin-bottom: -70px;
    
  

}

.links h4 {
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 18px;
}

.links ul li {
    color: rgb(82, 143, 80);
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
    
    
   
}




.links a:hover{
    color: #6e8858;
}

.copy{
        
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #60883e;
    
}



@media(max-width: 991px){
    .footer-conatiner{
        padding: 36px;
        flex-direction: column;
        text-align: center;
    }

    .copy{
        
        text-align: center;
        justify-content: center;
        align-items: center;
        color: #60883e;
        margin-top: 50px;
        
    }

    .logof{
        display: flex;
        justify-content: center;
    }
    .links h4{
        margin: 25px 0px 10px 0px;
    }
    .copy{
        
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
}
