@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');



body{
    margin: 0;
    padding: 0;
    font-family: "Varela Round", sans-serif;


}

.form-container{
    height: 100vh;
    background-color: #c1d95c;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}

.form-info-singup{
    width: 400px;
    height: 515px;
    background-color: #93c477;
    border-radius: 15px;
    box-shadow: 0 0 20px #ffffffb2;
    color:  rgb(0, 0, 0);
    text-transform: uppercase;

}

.form-info-login{
    width: 380px;
    height: 400px;
    background-color: #93c477;
    border-radius: 15px;
    box-shadow: 0 0 20px #ffffffb2;
    color:  rgb(0, 0, 0);
    text-transform: uppercase;

}


input{
    width: 80%;
    height: 35px;
    margin: 10px;
    border: 0;
    box-shadow: 0 0 10px #335c4463;
    border-radius: 15px;
    outline: none;
}



.btn {

    width: 50%;
    height: 35px;
    background-color: #eaef9d;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Varela Round", sans-serif;
    font-size: 16px;
    font-weight: 500;
    
    
}

.btn:hover{
    color: #0d9c00e0;
}

input::placeholder{
    font-family: "Varela Round", sans-serif;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #22411c;
    font-weight: 700;
}

a:hover{
    color: #0d9c00e0;
}


