
.rsociales{
    display: flex;
    margin-top: 11px;
}


.social{
    margin: 0 10px;
    width: 40px;
    height: 40px;
    border: 1px solid #336a29;
    border-radius: 50%;
}

.social:hover{
    background-color: #80b155;
    
}


.social img{
    margin: 8px 0 0 10px ;
}


#logout {
    display: none;
    margin: 17px;
    background-color: rgba(240, 248, 255, 0.041);
    border: none;
    
    cursor: pointer;
    
    
}


.menu{
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: #8fd452d8;
    height: 140px;
    

}

.logo{
    width: 180px;
    margin-left: 75px;
    margin-top: 25px;

}

.menu .navbar ul{
    list-style: none;

}

.menu .navbar ul li{
    position: relative;
    float: left;

}

.menu .navbar ul li a{
    font-size: 16px;
    padding: 20px;
    color: aliceblue;
    display: block;
    text-transform: uppercase;
    margin-right: 50px;
    margin-bottom: 2px;
    

}

.menu .navbar ul li a:hover{
    color: brown;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;

}

.menu label{
    cursor: pointer;
    display: none;
}

@media(max-width: 991px ){
    .saludo{
        font-size: 16px;
        text-align: center;
    


    }
    .logo{
        width: 150px;
        margin-left: 13px;
    }
    .menu{
        padding: 20px;
        background: #80b15500;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: black;
        display: none;
        
    }
    .menu .navbar ul li{
        width: 100%;
        margin-bottom: 5px;
    }

    .mennu .navbar ul li a:hover{
        color: brown;

    }
    #menu:checked~ .navbar{
        display: initial;
    }

}














