
.reseñas-container {
    max-width: 90%; 
    margin: 20px auto; 
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.reseña {
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}

.reseña:last-child {
    border-bottom: none;
}

.reseña p {
    margin: 5px 0;
    color: #555;
    text-align: center;
}

.reseña .nombre-re {
    font-weight: bold;
    color: #333;
}

.reseña .estrellas {
    color: #f39c12; 
}


@media (min-width: 600px) {
    .reseñas-container {
        max-width: 800px; 
    }

    .reseña {
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
    }

    .reseña p {
        flex: 1; 
        margin: 0 10px; 
    }
}