.swiper-button-prev::after{
    font-size: 25px;
}

.swiper-button-next::after{
    font-size: 25px;
}

.swiper-button-next{
    color: #336a29;
}

.swiper-button-prev{
    color: #336a29;
}

.swiper-pagination-bullet{
    background-color: #eaef9d;
    opacity: 1;
}

.swiper-pagination-bullet-active{
    background-color: #336a29;
}

.cont-header{
    margin-top: 200px;
    padding-bottom: 50px;
}

.slider{
    display: flex;
    align-items: center;
}

.slider-text{
    margin-left: 85px;
    width: 50%;
}

.slider-text h1{
    font-size: 70px;
    color: #336a29;
    text-transform: uppercase;
    font-weight: 800;
    text-shadow: 0 0 10px #ffffff63;
    
}

.botones{
    margin-top: 50px;
}

.btn-1{
    display: inline-block;
    padding: 15px 35px;
    color: #336a29;
    border: 2px solid #e5ffc0;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 50px;
}

.btn-1:hover{
    background: #e5ffc0;
}

.slider-img{
    width: 50%;
}

.slider-img img{
    margin-right: 225px;
    width: 550px;
    align-content: center;
}

@media(max-width: 991px) {
    .cont-header{
        padding: 30px;
        margin-top: 100px;
    }

    .slider{
        flex-direction: column;
    }

    .slider-text{
        margin-left: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;

    }

    .slider-text h1 {
        font-size: 50px;
    }

    .slider-text p {
        font-size: 16px;
    }

    .btn-1{
        padding: 10px 25px;
        font-size: 14px;
    }
    .slider-img{
        width: 100%;
        text-align: center;
    }

    .slider-img img{
        margin-right: 0px;
        width: 300px;
    }

    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets,.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: -7px;

    }

    
}




